@font-face {
    font-family: "yekan";
    src: url(fonts/yekan/Yekan.eot);
    src: url(fonts/yekan/Yekan.eot?#iefix) format("embedded-opentype"),
      url(fonts/yekan/Yekan.woff) format("woff"),
      url(fonts/yekan/Yekan.ttf) format("truetype"),
      url(fonts/yekan/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "IRANSans";
    font-style: normal;
    font-weight: bold;
    src: url(fonts/iran/IRANSansWeb_Bold.eot);
    src: url(fonts/iran/IRANSansWeb_Bold.eot?#iefix)
        format("embedded-opentype"),
      url(fonts/iran/IRANSansWeb_Bold.woff2) format("woff2"),
      url(fonts/iran/IRANSansWeb_Bold.woff) format("woff"),
      url(fonts/iran/IRANSansWeb_Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: "IRANSans";
    font-style: normal;
    font-weight: normal;
    src: url(fonts/iran/IRANSansWeb.eot);
    src: url(fonts/iran/IRANSansWeb.eot?#iefix) format("embedded-opentype"),
      url(fonts/iran/IRANSansWeb.woff2) format("woff2"),
      url(fonts/iran/IRANSansWeb.woff) format("woff"),
      url(fonts/iran/IRANSansWeb.ttf) format("truetype");
  }
  @font-face {
    font-family: "vazir";
    src: url(fonts/vazir/Vazir-FD.eot);
    src: url(fonts/vazir/Vazir-FD.eot) format("embedded-opentype"),
      url(fonts/vazir/Vazir-FD.woff) format("woff"),
      url(fonts/vazir/Vazir-FD.woff2) format("woff2"),
      url(fonts/vazir/Vazir-FD.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  html,
  body,a,p {
    font-family: "vazir" !important;
    font-size: 14px !important;
}
.h1, .h2, .h3, h1, h2, h3 {
    font-family: "vazir" !important;
}
#setup-menu .arrow, #side-menu .arrow {
    float: left;
    padding-top: 3px;
  }
body.rtl #setup-menu .arrow, body.rtl #side-menu .arrow {
  margin-left: 0;
    margin-right: 15px;
  }

body.login_admin {
  background-image: url('../../assets/images/login.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
body.login_admin::before {
    background: rgba(0,0,0,0.5);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}
#side-menu li.dashboard_user{
    padding:11px 22px 11px 40px;
    color:#fff;
    font-size:14px;
    font-weight:500
}
#side-menu li .nav-second-level li a {
  padding: 7px 45px 7px 10px;
  color: #0181bb;
  text-transform: none;
  font-size: 13px;
}
li a i.menu-icon{
    margin-left:16px;
    margin-right:0;
    display:block;
    float:right;
    width:18px;
    font-size:17px
}
.widget-dragger {
  position: absolute;
  top: 15px;
  right: -15px;
  left: auto;
  color: #a9afbb;
  cursor: move;
  z-index: 2;
}
body.rtl .dt-button-collection.dropdown-menu {
  left: auto !important;
}
#side-menu li .nav-second-level li.active a {
  color: #fff!important;
  border-radius: 50px;
  background-color: #03a9f4;
  border-left: 0!important;
  display: inline-block;
  padding: 5px 15px;
  margin: 8px 30px 8px 0px;
}
#setup-menu li .nav-second-level li a {
  padding: 8px 30px 8px 10px;
  color: #323a45;
  font-size: 13px;
}
#setup-menu li .nav-second-level li.active a {
  color: #fff!important;
  border-radius: 50px;
  background-color: #03a9f4;
  display: inline-block;
  padding: 5px 15px;
  margin: 8px 15px 8px 0;
}

.notification-box-all{
  text-align: right;
}
.notification-box{
  direction: ltr;
}
.notification-box img + .media-body{
  direction: rtl;
}

.not-mark-as-read-inline {
  width: auto !important;
  position: absolute;
  left: 5px;
  bottom: 7px;
  right: auto;
}
#newsfeed .newsfeed_post .dropdown {
  position: absolute;
  left: 20px;
  right: auto;
}
#newsfeed .post-time-ago {
  position: absolute;
  left: 55px;
  top: 34px;
  right: auto;
}
body.rtl .quick-links .dropdown-menu {
  float: left;
  left: auto;
}
#side-menu li.quick-links .dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 9px;
  left: auto;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
#side-menu li.quick-links .dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 10px;
  left: auto;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
#side-menu li.dashboard_user {
  padding: 11px 50px 11px 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
#side-menu li.quick-links {
  right: 12px;
  left: auto;
  position: absolute;
  top: 0;
  border-bottom: 0 !important;
}
.dataTables_length select {
  height: 30px;
  padding: 1px 5px;
  font-family: "vazir" !important;
}
/* body.rtl .input-group .input-group-addon {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
} */
body.rtl .ajax-remove-values-option .ajax-clear-values {
  left: 30px;
  right: auto;
}
body.rtl .bootstrap-select .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  left: 12px;
  right: auto;
  margin-top: -2px;
  vertical-align: middle;
}
.bootstrap-select .dropdown-menu li small {
  padding-right: .5em;
}

.tooltip {
  font-family: "vazir";
}

.activity-feed .feed-item {
    position: relative;
    padding-bottom: 30px;
    padding-left: 0 !important;
    padding-right: 30px;
    border-right: 2px solid #84c529;
    border-left: 0 !important;
}
.activity-feed .feed-item:after {
    left: auto;
    right: -6px;
}

body.rtl .navbar-right {
  margin-right: 0 !important;
}
.navbar-nav.navbar-right {
  margin-left: 26px !important;
}
[data-name="md-persiandatetimepicker"],[data-name="md-datetimepicker-title"]{
  font-family: "vazir" !important;
}
ul.tagit li.tagit-choice .tagit-label:not(a) {
  font-family: 'vazir';
}
.tagit-autocomplete.ui-menu{
  float: right;
  font-family: 'vazir';
}
.popover{
  z-index: 99999 !important;
} 
#kan-ban{
  display: flex;
}
.popover-title, .popover-content{
  font-family: 'vazir';
  text-align: center;
}
@media (min-width: 992px)
{
  .col-md-5ths {
      width: 20%;
      float: right;
  }
}
#group_by_tasks_wrapper span{
  right: -160px !important;
}


/* customer area */
[data-name="md-persiandatetimepicker"] table[data-name="md-persiandatetimepicker-timepicker"].table td, [data-name="md-persiandatetimepicker"] table[data-name="md-persiandatetimepicker-headertable"].table td {
  text-align: center;
  vertical-align: middle;
  border: 0;
}
[data-name="md-persiandatetimepicker"] table.table td {
  text-align: center;
  padding: 2px;
  font-size: 12px;
}

.submenu li {
  display: inline-block;
  margin-left: 15px;
  margin-right: unset;
}
.kb-search button[type="submit"] {
  padding: 14.5px;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){
  border-radius: 4px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle), .btn-group>.btn:last-child:not(:first-child){
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.bootstrap-select.show-tick .dropdown-menu li a span.text {
  margin-right: 0;
}
.input-group-btn:last-child>.btn{
  margin-left: -1px;
  margin-right: unset;
}
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark{
  left: 15px;
  right: unset;
}
.dropdown-submenu>a:after{
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-top: 6px;
  margin-right: 3px;
  float: left;
}
.dropdown-submenu>.dropdown-menu{
  right: 100%;
}
.dropdown-submenu.pull-left>.dropdown-menu{
  border-top-right-radius: 0;
  border-top-left-radius: 6px;
}
.alert.float-alert .alert-title{
	margin-right: 30px;
	margin-left: unset;
}
.float-alert.alert span[data-notify="icon"]{
	left: unset;
	right: 13px;
}
.alert.float-alert button.close{
	left: 10px;
	right: unset;
}
.float-alert{
	left: 20px;
	right: unset;
}
body.rtl .alert.float-alert .alert-title{
	float: right;
}